@import "@fontsource/inter";
@import "@fontsource/sansation";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-inter: "Inter", sans-serif;
    --font-sansation: "Sansation", sans-serif;
    --color-bg-dark: #000000;
    --color-bg-light: #ede7f6;
    --color-accent: #6f55b5;
    --color-primary: #fcfdff;
    --color-primary-light: #fcfdff;
    --color-secondary: #888794;
    --color-card: #1f2028;
    --color-field: #323743;
    --color-secondary-button: #323743;
    --color-button-hover: #5e46a0;
    --color-secondary-button-hover: #2b303b;
    --color-link: #6950ab;
    --color-link-hover: #7c59c9;
}

body {
    font-family: "Inter", sans-serif;
}

/* LOADER SPINNING ANIMATION */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
    animation: rotate-center 0.6s ease-in-out infinite both;
}

/* SHAKE ANIMATION FOR INPUT BOX, WHEN THERE IS ERROR */

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    75% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    75% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.shake {
    -webkit-animation: shake 0.5s ease-in-out;
    animation: shake 0.5s ease-in-out;
}

/* FORCE CUSTOM BACKGROUND AND TEXT COLOR ON AUTOFILLED INPUTS */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-field) inset;
    -webkit-text-fill-color: var(--color-primary);
    transition: background-color 5000s ease-in-out;
}

/* REMOVE NUMBER INPUT ARROWS/SPINNERS FOR CLEANER LOOK */

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
